<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contato</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<form [formGroup]='formGroup'   (ngSubmit)="enviarMensagem()">

  <ion-list>

    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input formControlName='nome' type="text"></ion-input>
      <p *ngIf="formGroup.controls.nome.errors" margin-left>Valor Inválido</p>
    </ion-item>
    <p *ngIf="formGroup.controls.nome.errors && formGroup.controls.nome.dirty " margin-left>Valor Inválido</p>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input formControlName='email' type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls.email.errors && formGroup.controls.email.dirty " margin-left>Valor Inválido</p>
    
    <ion-item>
      <ion-label floating>Assunto</ion-label>
      <ion-input formControlName='assunto' type="text"></ion-input>
    </ion-item>

    <p *ngIf="formGroup.controls.assunto.errors && formGroup.controls.assunto.dirty " margin-left>Valor Inválido</p>

    <ion-item>
      <ion-label floating>Mensagem</ion-label>
      <ion-textarea formControlName='mensagem' rows="6"></ion-textarea>
    </ion-item>
    <p *ngIf="formGroup.controls.mensagem.errors && formGroup.controls.mensagem.dirty " margin-left>Valor Inválido</p>
  </ion-list>

  <button ion-button block [disabled]="formGroup.invalid">Enviar</button>

</form>

</ion-content>
